<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1076" key="803e6b9d-5441-4c49-995a-a09a88e022a4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-03-06T16:50:59" updateDate="2018-03-22T18:53:19" nodeName="Home" urlName="home" path="-1,1076" isDoc="" nodeType="1056" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1055" nodeTypeAlias="homePage" isPublished="true">
    <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Home, Page]]></metaKeywords>
    <metaDescription><![CDATA[Aarhus Web Developers Coop Home Page]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[AA W D C]]></siteTitle>
    <logo><![CDATA[umb://media/d0eee0b1609444a399e72eaae5b85118]]></logo>
    <footer><![CDATA[Created by Gintas Pociunas ()]]></footer>
    <mainContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></mainContent>
    <articlesOverview id="1077" key="d54e6713-b469-41ed-a883-88ce26fe1560" parentID="1076" level="2" creatorID="0" sortOrder="0" createDate="2018-03-06T16:52:21" updateDate="2018-03-21T10:12:02" nodeName="Articles" urlName="articles" path="-1,1076,1077" isDoc="" nodeType="1064" creatorName="Gintas Pociunas" writerName="Jane Wilfred" writerID="1" template="1063" nodeTypeAlias="articlesOverview" isPublished="true">
      <metaKeywords><![CDATA[Aarhu,s Web, Developers, Coop, Articles]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop Articles]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Web articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></articlesBodyText>
      <articleItem id="1078" key="5720661a-9647-45bc-a4c7-8e113022b340" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2018-03-06T16:53:29" updateDate="2018-03-06T22:43:39" nodeName="Article #1" urlName="article-1" path="-1,1076,1077,1078" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, One]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article One]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article #1]]></articleTitle>
        <articleContent><![CDATA[<p><span>Etiam vitae fringilla nibh. Aliquam quam nisi, imperdiet quis venenatis eget, sollicitudin a risus. Pellentesque ut luctus odio. Vestibulum ligula lacus, tempor sagittis accumsan at.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1087" key="83edfa15-3b75-4ff5-8305-240b76efb012" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2018-03-06T17:03:02" updateDate="2018-03-06T22:43:25" nodeName="Article #2" urlName="article-2" path="-1,1076,1077,1087" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, Two]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article Two]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article #2]]></articleTitle>
        <articleContent><![CDATA[<p><span>Donec ligula dolor, tincidunt vitae mattis eu, vestibulum vitae quam. Cras vehicula luctus pulvinar. Mauris fringilla</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1088" key="c930260c-c366-47f4-94d5-c20cce84551e" parentID="1077" level="3" creatorID="0" sortOrder="2" createDate="2018-03-06T17:03:12" updateDate="2018-03-06T22:43:53" nodeName="Article #3" urlName="article-3" path="-1,1076,1077,1088" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, Three]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article Three]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article #3]]></articleTitle>
        <articleContent><![CDATA[<p><span>Consequat sed elit. Suspendisse a arcu malesuada, viverra ligula in, consequat nisi. Pellentesque a aliquet ipsum lorem lorem.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1089" key="1aed7751-f73b-4a34-86b7-8ca233ca48cf" parentID="1077" level="3" creatorID="0" sortOrder="3" createDate="2018-03-06T17:03:20" updateDate="2018-03-06T22:44:10" nodeName="Article #4" urlName="article-4" path="-1,1076,1077,1089" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, Four]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article Four]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article #4]]></articleTitle>
        <articleContent><![CDATA[<p><span>Metus non sollicitudin convallis, ante neque vehicula enim, ac tincidunt erat odio sed risus. Sed vel nulla lobortis, iaculis sem a, semper odio. </span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1090" key="d3e8eeec-d7de-4739-bbb7-43b0bda707aa" parentID="1077" level="3" creatorID="0" sortOrder="4" createDate="2018-03-06T17:03:29" updateDate="2018-03-06T22:44:24" nodeName="Article #5" urlName="article-5" path="-1,1076,1077,1090" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, Five]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article Five]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article #5]]></articleTitle>
        <articleContent><![CDATA[<p><span>Mauris turpis libero, mollis in porta a, efficitur id lacus. Mauris dignissim egestas leo, eget auctor sapien suscipit vel. In et ligula non urna consequat mattis. Phasellus ac nisi justo. </span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1091" key="1efc6120-9c06-488b-9aa2-1b92ff9bd897" parentID="1077" level="3" creatorID="0" sortOrder="5" createDate="2018-03-06T17:03:39" updateDate="2018-03-06T17:05:14" nodeName="Article #6" urlName="article-6" path="-1,1076,1077,1091" isDoc="" nodeType="1067" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Article, Six]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Article Six]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article #6]]></articleTitle>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></articleContent>
      </articleItem>
      <articleItem id="1114" key="b90ab5ca-1751-43a3-890a-380986d8641d" parentID="1077" level="3" creatorID="2" sortOrder="8" createDate="2018-03-07T00:22:18" updateDate="2018-03-07T13:37:38" nodeName="Article about SpiderMan" urlName="article-about-spiderman" path="-1,1076,1077,1114" isDoc="" nodeType="1067" creatorName="Tim Hansson" writerName="Gintas Pociunas" writerID="0" template="1066" nodeTypeAlias="articleItem" isPublished="true">
        <metaKeywords><![CDATA[Tim, Hansson, Article, SpiderMan, Web, Developers, Coop]]></metaKeywords>
        <metaDescription><![CDATA[Hansson's Article about SpiderMan]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article about SpiderMan]]></articleTitle>
        <articleContent><![CDATA[<p><span>Pellentesque congue ex vitae lacus euismod semper. Fusce consequat ex nulla, tempus imperdiet velit ultrices ac. Phasellus eu pulvinar erat. Quisque faucibus tristique leo sit amet laoreet. Nulla a bibendum ligula. Vestibulum pellentesque est vitae nibh ultricies pharetra.</span></p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <projectsOverview id="1079" key="c13607f0-4d8a-46b6-bbb2-1761da36261c" parentID="1076" level="2" creatorID="0" sortOrder="1" createDate="2018-03-06T16:54:24" updateDate="2018-03-06T16:54:24" nodeName="Projects" urlName="projects" path="-1,1076,1079" isDoc="" nodeType="1070" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1069" nodeTypeAlias="projectsOverview" isPublished="true">
      <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Projects]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop Projects Overview]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Web Development Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectsBodyText>
      <projectItem id="1080" key="cd382049-669d-44df-aeb7-9ee45bdd073a" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2018-03-06T16:55:06" updateDate="2018-03-19T13:46:26" nodeName="Project #1" urlName="project-1" path="-1,1076,1079,1080" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, One]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project One]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Project #1]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>18</projectStatus>
      </projectItem>
      <projectItem id="1081" key="673e7d60-86f2-4a00-9c16-94725c466d31" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2018-03-06T16:55:47" updateDate="2018-03-19T13:55:00" nodeName="Project #2" urlName="project-2" path="-1,1076,1079,1081" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Two]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Two]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project #2]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>17</projectStatus>
      </projectItem>
      <projectItem id="1082" key="e5b425ee-4a95-423f-b1c4-772efc53586d" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2018-03-06T16:58:42" updateDate="2018-03-19T13:50:39" nodeName="Project for Active Members only!" urlName="project-for-active-members-only" path="-1,1076,1079,1082" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Three]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Three]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project for Members (#3)]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
      <projectItem id="1083" key="a4f050eb-bb2a-48ef-bfda-3b85950ad443" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2018-03-06T16:59:48" updateDate="2018-03-19T13:47:33" nodeName="Project #4" urlName="project-4" path="-1,1076,1079,1083" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Four]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Four]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project #4]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
      <projectItem id="1084" key="5adba3c2-1632-4c7d-b18c-e5540b7cb33f" parentID="1079" level="3" creatorID="0" sortOrder="4" createDate="2018-03-06T17:00:30" updateDate="2018-03-19T13:47:38" nodeName="Project #5" urlName="project-5" path="-1,1076,1079,1084" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Five]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Five]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Project #5]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>19</projectStatus>
      </projectItem>
      <projectItem id="1085" key="a770d114-5b2f-48c8-b956-96bf16aac595" parentID="1079" level="3" creatorID="0" sortOrder="5" createDate="2018-03-06T17:01:05" updateDate="2018-03-22T18:18:41" nodeName="Project #6" urlName="project-6" path="-1,1076,1079,1085" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Six]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Six]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project #6]]></projectTitle>
        <projectPicture><![CDATA[umb://media/ff7e4fb695c548a99d6330db24346d46]]></projectPicture>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
      <projectItem id="1086" key="92f9b914-17b0-4d80-8e22-23c9d42eb6ee" parentID="1079" level="3" creatorID="0" sortOrder="6" createDate="2018-03-06T17:02:05" updateDate="2018-03-22T18:19:00" nodeName="Project #7" urlName="project-7" path="-1,1076,1079,1086" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Seven]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Seven]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project #7]]></projectTitle>
        <projectPicture><![CDATA[umb://media/4363c615b3614838bb6e7dee0212e8b0]]></projectPicture>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
      <projectItem id="1092" key="cacd894d-d535-4712-8296-80ac3f3dc9b5" parentID="1079" level="3" creatorID="0" sortOrder="7" createDate="2018-03-06T17:35:28" updateDate="2018-03-21T23:46:29" nodeName="Project #8" urlName="project-8" path="-1,1076,1079,1092" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Eight]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Eight]]></metaDescription>
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectTitle><![CDATA[Project #6]]></projectTitle>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dui eu imperdiet mollis. Nulla a iaculis arcu. Phasellus consectetur, quam et maximus faucibus, odio nibh interdum justo, non dapibus ex sapien sit amet purus.</span></p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
      <projectItem id="1162" key="36711314-e332-4d7c-823a-dd6017ee9780" parentID="1079" level="3" creatorID="0" sortOrder="8" createDate="2018-03-21T23:46:23" updateDate="2018-03-22T18:19:10" nodeName="Project #9" urlName="project-9" path="-1,1076,1079,1162" isDoc="" nodeType="1074" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1073" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Project, Nine]]></metaKeywords>
        <metaDescription><![CDATA[Aarhus Web Developers Coop Project Nine]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Project number 9]]></projectTitle>
        <projectPicture><![CDATA[umb://media/10a4bf5669dc48b799d974ae8198414e]]></projectPicture>
        <projectDescription><![CDATA[<p>This is a description of the project number 9</p>]]></projectDescription>
        <projectStatus>20</projectStatus>
      </projectItem>
    </projectsOverview>
    <aboutUs id="1100" key="9c32ab18-47c6-4385-a4fd-24232d8f2eda" parentID="1076" level="2" creatorID="0" sortOrder="2" createDate="2018-03-06T18:36:23" updateDate="2018-03-06T19:18:32" nodeName="About Us" urlName="about-us" path="-1,1076,1100" isDoc="" nodeType="1098" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1097" nodeTypeAlias="aboutUs" isPublished="true">
      <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, About, Us]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop About Us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <standardGridPage><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Grid Page",
          "name": "Grid Page",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "maxItems": 0,
              "config": {
                "class": "monday-kitten-img"
              },
              "styles": {},
              "hasConfig": true,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1099,
                    "udi": "umb://media/11e306884d6b4cfe8c0b9b7f60d7690b",
                    "image": "/media/1011/is-monday-gone-yet.jpg",
                    "caption": "Is it??"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit.\n- Paulo Coelho",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Donec gravida eros in elit viverra pulvinar. Phasellus facilisis arcu vel neque vestibulum ullamcorper. Mauris gravida nibh a lectus iaculis, quis blandit enim accumsan</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Duis non neque lorem. Fusce non nibh ut erat ornare commodo. Phasellus accumsan est quis condimentum elementum. Nulla convallis imperdiet tempor.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "5b9198d3-85cb-3b6a-bbd0-ecc44164d278",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></standardGridPage>
    </aboutUs>
    <contactPage id="1103" key="adf24d9f-e47c-481b-b21e-d0418fe539ec" parentID="1076" level="2" creatorID="0" sortOrder="3" createDate="2018-03-06T23:05:03" updateDate="2018-03-06T23:26:23" nodeName="Contact Us" urlName="contact-us" path="-1,1076,1103" isDoc="" nodeType="1102" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1101" nodeTypeAlias="contactPage" isPublished="true">
      <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Contact, Us]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop Contact Us]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <sitemap id="1138" key="2adfc0ee-1c1c-4d3f-a674-1e9d2689ee81" parentID="1076" level="2" creatorID="0" sortOrder="4" createDate="2018-03-07T01:23:37" updateDate="2018-03-07T01:24:52" nodeName="Sitemap" urlName="sitemap" path="-1,1076,1138" isDoc="" nodeType="1137" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1136" nodeTypeAlias="sitemap" isPublished="true">
      <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Site, Map]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop Site Map]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <login id="1123" key="9c9099f1-a2fc-4043-9543-38116225ca05" parentID="1076" level="2" creatorID="0" sortOrder="5" createDate="2018-03-07T00:49:28" updateDate="2018-03-07T01:24:52" nodeName="Login" urlName="login" path="-1,1076,1123" isDoc="" nodeType="1120" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1119" nodeTypeAlias="login" isPublished="true">
      <metaKeywords><![CDATA[Aarhus, Web, Developers, Coop, Login, Page]]></metaKeywords>
      <metaDescription><![CDATA[Aarhus Web Developers Coop Login Page]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="1135" key="71f381c7-5a3c-4699-9a48-31430bbad38f" parentID="1076" level="2" creatorID="0" sortOrder="6" createDate="2018-03-07T01:05:24" updateDate="2018-03-07T01:24:52" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1076,1135" isDoc="" nodeType="1060" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1059" nodeTypeAlias="textPage" isPublished="true">
      <metaKeywords><![CDATA[Forbidden (400)]]></metaKeywords>
      <metaDescription><![CDATA[Forbidden Access Page]]></metaDescription>
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[This page is forbidden]]></header>
      <mainContent><![CDATA[<p>You are not allowed to see this page and/or it's content :)</p>]]></mainContent>
    </textPage>
    <members id="1151" key="ecebc1f5-d963-4971-8181-6a31fdcfd838" parentID="1076" level="2" creatorID="0" sortOrder="7" createDate="2018-03-19T11:50:09" updateDate="2018-03-19T11:50:09" nodeName="Members" urlName="members" path="-1,1076,1151" isDoc="" nodeType="1144" creatorName="Gintas Pociunas" writerName="Gintas Pociunas" writerID="0" template="1143" nodeTypeAlias="members" isPublished="true" />
  </homePage>
</root>