@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{
    IEnumerable<IPublishedContent> selection = Umbraco.TypedContentAtRoot()
.First() //Root document
.Children() //Level 2 documents
.Where(x => x.DocumentTypeAlias == "projectsOverview")
.First() //Projects overview document
.Children() //Projects documents
.Where(x => x.HasValue("projectStatus") &&
Umbraco.GetPreValueAsString(
x.GetPropertyValue<int>("projectStatus")) == "Completed")
.Where(x => x.IsVisible()) // Only visible documents
.OrderByDescending(x => x.CreateDate) // Newest projects first
.Take(3); // Show only 3 projects
}

@foreach (var menuItem in selection)
{
    var isProtected = umbraco.library.IsProtected(menuItem.Id, menuItem.Path);
    var loginAccess = umbraco.library.IsProtected(menuItem.Id, menuItem.Path)
    && umbraco.library.HasAccess(menuItem.Id, menuItem.Path);
    if (!isProtected || loginAccess)
    {
        <div class="d-inline-block">
            <a class="project-link" href="@menuItem.Url">
                @if (menuItem.HasValue("projectPicture"))
                {
                    var mediaId = menuItem.GetPropertyValue("projectPicture").ToString();
                    <img class="home-projects-pic" src="@Umbraco.TypedMedia(mediaId).Url" alt="" />
                } else
                {
                    <img src = "~/Media/open-box.png" />
                }
                <h5><br />@menuItem.Name</h5>
                <div class="text-wrap">
                <p>@Umbraco.Truncate(menuItem.GetPropertyValue<string>("projectDescription"), 99)</p>
                </div>
            </a>
        </div>
    }
}

