@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderByDescending() method, which takes the property to sort. In this case the page's creation date.
    - It then generates links so the visitor can go to each page
*@

@{ var selection = Model.Content.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).ToArray(); }
<hr />
@if (selection.Length > 0)
{

    foreach (var item in selection)
    {
        <div class="article">
            <h5>
                <a href="@item.Url">@item.Name</a>
            </h5>
            <div class="articlepreview">
                <p>@Umbraco.Truncate(item.GetPropertyValue<string>("articleContent"), 77)</p>
                <a href="@item.Url">Read More..</a>
            </div>
        </div>
        <br />
        <hr />
    }
    <br />
}