@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="fullsection">
    <br />
    <br />
    <br />

    @Model.Content.GetGridHtml(Html, "standardGridPage", "bootstrap3")
</div>