@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="fullsection">
    <br />
    <br />
    <br />
    <section>
        <h1 class="light text-center text-white">@CurrentPage.Name</h1>
    </section>
    <section>
        <div class="col-lg-12 text-center text-white">
            <hr class="col-sm-6 thin" />
            @Umbraco.Field("articlesBodyText")
            <hr class="col-sm-6 light" />
        </div>
    </section>
    <section>
        <div class="ml-4">
            @Umbraco.RenderMacro("listArticles")
        </div>
    </section>
</div>