@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}


<div class="fullsection">
    <br />
    <br />
    <br />
    <section>
        <h1 class="light text-center text-white">@CurrentPage.Name</h1>
    </section>

    <section>
        <div class="col-lg-12 text-center text-white">
            <hr class="col-sm-6 thin" />
            @Umbraco.Field("projectsBodyText")
            <hr class="col-sm-6 light" />
            <p></p>
        </div>
    </section>
    <section>
        <div class="ml-4">
            @Umbraco.RenderMacro("listProjects")
        </div>
    </section>
</div>
