@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    //var page = Umbraco.Content(1079);


    IEnumerable<IPublishedContent> page = Umbraco.TypedContentAtRoot()
    .First() //Root document
    .Children() //Level 2 documents
    .Where(x => x.DocumentTypeAlias == "projectsOverview")
    .First() //Projects overview document
    .Children() //Projects documents
    .Where(x => x.HasValue("projectStatus") &&
    Umbraco.GetPreValueAsString(
    x.GetPropertyValue<int>("projectStatus")) == "Completed")
    .Where(x => x.IsVisible()) // Only visible documents
    .OrderByDescending(x => x.CreateDate); //Newest projects first

}


<br />
<h4 class="text-center">@Umbraco.Field("projectsTitle")</h4>
<div class="ml-4">
    <p class="text-center">@Umbraco.Field("projectsBodyText")</p>
    @Umbraco.RenderMacro("listProjects")
</div>
