@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";

    //var page = Umbraco.Content(1079);


    IEnumerable<IPublishedContent> page = Umbraco.TypedContentAtRoot()
    .First() //Root document
    .Children() //Level 2 documents
    .Where(x => x.DocumentTypeAlias == "projectsOverview")
    .First() //Projects overview document
    .Children() //Projects documents
    .Where(x => x.HasValue("projectStatus") &&
    Umbraco.GetPreValueAsString(
    x.GetPropertyValue<int>("projectStatus")) == "Completed")
    .Where(x => x.IsVisible()) // Only visible documents
    .OrderByDescending(x => x.CreateDate); //Newest projects first
}

<div class="fullsection">
    <br />
    <br />
    <br />
    <section>
        <h1 class="light text-center text-white">@CurrentPage.Name</h1>
    </section>

    <section>
        <div class="col-lg-12 text-center text-white">
            <hr class="col-sm-6 thin" />
            @Umbraco.Field("projectsBodyText")
            <hr class="col-sm-6 light" />
            <p></p>
        </div>
    </section>
    <section>
        <div class="ml-4">
            @Umbraco.RenderMacro("listProjects")
        </div>
    </section>
</div>
