@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<br />
<h4 class="text-center">Sitemap</h4>
<div class="ml-4">
    @Html.Partial("sitemap_pv")
    </div>
    <br />
