@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="fullsection">
    <br />
    <br />
    <br />
    <section>
        <h1 class="light text-center text-white">@CurrentPage.Name</h1>
        <hr class="col-sm-6 light" />
    </section>
    <section>
        <div class="col-lg-12 text-left text-white">
            @Html.Partial("sitemap_pv")
        </div>
    </section>
</div>
