#padding-nav {
    margin-bottom: 54px;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.monday-kitten-img img {
    width: 100%;
}

.profile-pic {
    margin-right: 15px;
    
}

/*

    body {
    background: url('/Media/1008/galaxy.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 
    */