html, body {
  height: 100vh; }

body {
  min-height: 100vh; }

footer {
  padding: 1rem;
  clear: both; }

.thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.light-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.dropdown-menu {
  top: 35px; }

li.dropdown:hover > .dropdown-menu {
  display: block; }

.col-centered {
  margin: 0 auto;
  float: none; }

.about-us-img img {
  width: 100%;
  -webkit-filter: opacity(90%);
  filter: opacity(90%); }

.about-us-paragraph p {
  text-align: justify;
  text-justify: inter-word; }

.profile-pic {
  margin-right: 15px;
  max-width: 100px;
  height: auto; }

.item-pic {
  margin-right: 15px; }

header {
  position: relative;
  width: 100%;
  height: auto;
  /*background-image: url('../Media/aarhus-night.png');*/
  background-image: url("../Media/Musikhuset_Aarhus_Nat.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6); }

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px; }

header .header-content .header-content-inner hr {
  margin: 30px auto; }

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
  /*background-color: rgba(44, 62, 80, 0.71)*/ }

@media (min-width: 768px) {
  header {
    height: 100%;
    min-height: 600px; }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    color: white; }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: white; }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
    color: white; }
  header .header-content .header-content-inner p {
    font-size: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    /*background-color: rgba(44, 62, 80, 0.71)*/ } }

a.project-link {
  text-decoration: none; }

.project-link img {
  text-decoration: none;
  width: 350px;
  height: 450px;
  object-fit: cover;
  -webkit-filter: opacity(85%);
  filter: opacity(85%); }

.project-link:hover img {
  -webkit-filter: opacity(100%);
  filter: opacity(100%); }

.link-to-item img {
  text-decoration: none;
  object-fit: cover;
  -webkit-filter: opacity(85%);
  filter: opacity(85%); }

.link-to-item:hover img {
  -webkit-filter: opacity(100%);
  filter: opacity(100%); }

.project-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 15px; }

.text-wrap p {
  max-width: 350px;
  overflow-wrap: normal; }

.short-description p {
  max-width: 55%;
  overflow-wrap: normal; }

.writing-video {
  position: fixed;
  top: 0;
  width: 104vw;
  margin-right: 2vw;
  margin-left: -2vw;
  height: auto;
  z-index: -1; }

#video {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.form-group {
  font-size: 20px; }

.fullsection {
  min-height: 100vh; }

