@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    <br />
<footer class="bg-secondary text-center text-white footer">
        <span class="text-center">Created by Gintas Pociunas on @CurrentPage.createDate.ToString("MMMM, yyyy")</span>
</footer>