@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer class="bg-secondary text-center text-white">
    <span class="text-center">Created by Gintas Pociunas on @CurrentPage.createDate.ToString("MMMM, yyyy")</span>
</footer>