@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

 <!-- Navigation -->
<div class="light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top ">
        <a class="navbar-brand" href="/">AA W D C</a>
        <div class="collapse navbar-collapse" id="containerNavbar">
            @Umbraco.RenderMacro("mainMenu")
        </div>
    </nav>
</div>